#header {
    position: relative;
    width: 100%;
    height: 400px;
}

#logos-div {
    position: absolute;
    top: 20px;
    left: 35px;
}

#arglogo-img {
    display: block;
    width: 180px;
}

#yoproglogo-img {
    width: 50px;
    border-radius: 5px;
}

#yoproghash-img{
    height: 20px;
    margin-left: 5px;
}

#banner-div {
    position: relative;
    height: 400px;
    overflow-y: hidden;
}

#banner-img {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
    min-height: 100%;
    object-fit:cover;
}

#top-right-div {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 35px;
}

#social-div {
    display: inline-flex;
    position: relative;
    padding-right: 10px;
    vertical-align: bottom;
}

.social-icon {
    display: inline-flex;
    width: 38px;
    height: 38px;
    margin-left: 10px;
}

.social-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#login-btn {
    display: inline-flex;
    color: #2e2e2e;
    background-color: #00CDFF;
    margin-left: 15px;
    margin-right: 35px;
    line-height: 34px;
    height: 38px;
    padding-top: 0px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
}

#username {
    color: #d7d7d7;
    line-height: 40px;
    text-align: right;
    padding-right: 35px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}

#user-span {
    background-color: #2A2A2A;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#eye-div {
    color: white;
    height: 40px;
    opacity: 50%;
    text-align: right;
    padding-right: 35px;
    margin-top: 10px;
}

#eye-img {
    height:100%;
    border-radius: 50%;
    background-color: white;
}

#bottom-right-div {
    position: absolute;
    right: 35px;
    bottom: 35px;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: white;
    opacity: 50%;
}

#pencil {
    max-width: 70%;
    margin: 15%;
}

@media (max-width: 556px) {    
    #logos-div {
        width: 60px;
        top: 20px;
        left: 20px;
        overflow: hidden;
        opacity: 50%;
    }
    #arglogo-img {
        max-width: 140px;
        height: auto;
    }
    #yoproglogo-img {
        display: none;
    }
    #yoproghash-img {
        display: none;
    }
}