<div class="header">
    <div id="logos-div">
        <img id="arglogo-img" src="https://github.com/prulec/portfolio/raw/main/images/logo_argentina_programa.png" alt="ArgProg">
        <img id="yoproglogo-img" src="https://github.com/prulec/portfolio/raw/main/images/logo_yo_programo.png" alt="YoProgramo_logo">
        <img id="yoproghash-img" src="https://github.com/prulec/portfolio/raw/main/images/%23YoProgramo.png" alt="YoProgramo_hash">
    </div>
    <div id="banner-div">
        <img id="banner-img" src="https://github.com/prulec/portfolio/raw/main/images/astronaut3.png" alt="Banner">
    </div>
    <div id="top-right-div">
        <div id="social-div">
            <div class="social-icon"><i class="social-fa fa fa-facebook fa-2x"></i></div>
            <div class="social-icon"><i class="social-fa fa fa-youtube fa-2x"></i></div>
            <div class="social-icon"><i class="social-fa fa fa-github fa-2x"></i></div>
        </div>
        <button id="login-btn" type="button" class="btn btn-primary">Log Out</button>
        <p id="username">usuario_logueado</p>
        <div id="eye-div">
            <i class="fa fa-eye fa-2x"></i>
        </div>
    </div>
    <div id="bottom-right-div">
        <i class="pencil fa fa-pencil fa-2x"></i>
    </div>
</div>