<div class="header">
    <div id="argproglogo-div">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div id="banner-div">
        <img id="banner-img" src="https://github.com/prulec/portfolio/raw/main/images/astronaut3.png" alt="Banner">
    </div>
    <div id="top-right-div">
        <div id="social-div">
            <div class="social-icon"><img class="social-img" src="https://github.com/prulec/portfolio/raw/main/images/logo_yo_programo.png" alt=" 1 "></div>
            <div class="social-icon"><img class="social-img" src="https://github.com/prulec/portfolio/raw/main/images/logo_yo_programo.png" alt=" 2 "></div>
            <div class="social-icon"><img class="social-img" src="https://github.com/prulec/portfolio/raw/main/images/logo_yo_programo.png" alt=" 3 "></div>
        </div>
        <button id="login-btn" type="button" class="btn btn-primary">Log Out</button>
    </div>    
</div>