<div id="header">
    <div id="banner-div">
        <img id="banner-img" [src]="portfolio.bannerUrl" alt="Banner">
    </div>
    <div id="logos-div">
        <img id="arglogo-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/logo_argentina_programa.png" alt="ArgProg">
        <img id="yoproglogo-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/logo_yo_programo.png" alt="YoProgramo_logo">
        <img id="yoproghash-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/YoProgramo.png" alt="YoProgramo_hash">
    </div>
    <app-login 
        *ngIf="loginVisible"
        [portfolio]="portfolio"
        [isChild]="loginVisible"
        (onClose)="closeLoginPopup()"
        (onLogged)="enableLogged()"
    ></app-login>
    <div id="top-right-div">
        <div id="social-login-div">
            <div id="social-div">
                <app-social
                    [socialList]="portfolio.socialList"
                    [portfolio]="portfolio"
                ></app-social>
            </div>
            <button 
                *ngIf="!logged" type="button" class="log-btn btn btn-primary"
                (click)="openLoginPopup()"
            >Log In</button>
            <button 
                *ngIf="logged" type="button" class="log-btn btn btn-primary"
                (click)="logout()"
            >Log Out</button>
        </div>
        <p *ngIf="logged" id="username"><span id="user-span">{{portfolio.user.username}}</span></p>
        <div *ngIf="logged" id="eye-div" [ngSwitch]="portfolio.visible" (click)="togglePortfolioVisibility()">
            <img *ngSwitchCase="true" id="eye-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-preview-open.png" alt="Visibility-icon">
            <img *ngSwitchCase="false" id="eye-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-preview-close-one.png" alt="Visibility-icon">
        </div>
    </div>
    <div *ngIf="logged" id="bottom-right-div" (click)="openEditPopup()">
        <img id="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
    </div>
    <app-edit-item
        *ngIf = "editVisible"
        [title] = "editTitle"
        [portfolio] = "portfolio"
        (onClose)="closeEditPopup()"
    ></app-edit-item>
</div>