<form (ngSubmit)="onSubmit()">
    <h2 id="title">{{title}}</h2>

    <div *ngIf="title==='Banner url'">
        <input type="url" class="form-control" id="bannerUrl" name="bannerUrl" [(ngModel)]="portfolio.bannerUrl">
    </div>

    <div *ngIf="title==='Email'">
        <input type="email" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="portfolio.user.email">
    </div>

    <div *ngIf="title==='Photo url'">
        <input type="url" class="form-control" id="photoUrl" name="photoUrl" [(ngModel)]="portfolio.photoUrl">
    </div>

    <div *ngIf="title==='Job title'">
        <input type="url" class="form-control" id="jobTitle" name="jobTitle" [(ngModel)]="portfolio.jobTitle">
    </div>

    <textarea
        *ngIf="title==='Personal statement'" class="form-control" id="pstatement"
        name="pstatement" rows="10" [(ngModel)]="portfolio.pstatement"
    ></textarea>

    <div *ngIf="title==='Fullname'">
        <input            
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            placeholder="First name"
            [(ngModel)]="portfolio.user.firstName"
        >
        <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Last name"
            [(ngModel)]="portfolio.user.lastName"
        >
    </div>

    <div *ngIf="title==='Experience'">
        <div>
            <input 
                type="url"
                class="form-control" 
                name="logoUrl"
                placeholder="Logo url"
                [(ngModel)]="item.logoUrl"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="enterprise"
                placeholder="Enterprise"
                [(ngModel)]="item.enterprise"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="experienceTime"
                placeholder="Time"
                [(ngModel)]="item.experienceTime"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="position"
                placeholder="Position"
                [(ngModel)]="item.position"
            >
        </div>
        <div>
            <textarea
                class="form-control"
                name="pstatement"
                rows="3"
                placeholder="Tasks"
                [(ngModel)]="item.tasks"
            ></textarea>
        </div>
    </div>

    <div *ngIf="title==='Education'">
        <div>
            <input 
                type="url"
                class="form-control" 
                name="logoUrl"
                placeholder="Logo url"
                [(ngModel)]="item.logoUrl"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="institution"
                placeholder="Institution"
                [(ngModel)]="item.institution"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="educationTime"
                placeholder="Time"
                [(ngModel)]="item.educationTime"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="title"
                placeholder="Title"
                [(ngModel)]="item.title"
            >
        </div>
    </div>

    <div *ngIf="title==='Skill'">
        <div>
            <input            
                type="text"
                class="form-control"
                name="name"
                placeholder="Name of skill"
                [(ngModel)]="item.name"
            >
        </div>
        <div>
            <input            
                type="number"
                class="form-control"
                name="skillLevel"
                placeholder="Skill level [0-100]"
                [(ngModel)]="item.skillLevel"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="levelTag"
                placeholder="Level tag"
                [(ngModel)]="item.levelTag"
            >
        </div>
    </div>

    <div *ngIf="title==='Project'">
        <div>
            <input            
                type="text"
                class="form-control"
                name="name"
                placeholder="Name of project"
                [(ngModel)]="item.name"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="projectTime"
                placeholder="Time"
                [(ngModel)]="item.projectTime"
            >
        </div>
        <div>
            <input 
                type="url"
                class="form-control" 
                name="link"
                placeholder="Link to project"
                [(ngModel)]="item.link"
            >
        </div>
        <div>
            <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Description"
                [(ngModel)]="item.description"
            ></textarea>
        </div>
    </div>
    
    <div id="buttons">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="onDiscard()">Discard</button>
    </div>
</form>