form {
    position: relative;
    top:30px;
    margin: auto;
    max-width: 600px;
    background-color: #E8E8E8;
    padding: 30px;
    padding-top: 60px;
    border-radius: 10px;
}

form > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

form > textarea, input {
    margin-top: 20px;
}

#title {
    position: absolute;
    top: 30px;
}

#buttons {
    display: flex;
    width: 100%;
    right: -5px;
}

#buttons > button {
    flex: 1 0 auto;
}

#buttons > button + button {
    margin-left: 5px;
}