form {
    position: relative;
    top:10vh;
    margin: auto;
    width: 94%;
    max-width: 600px;
    background-color: #E8E8E8;
    padding: 30px;
    padding-top: 40px;
    border-radius: 10px;
}

form > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    position: relative;
    /*top: 30px;*/
    width:90%;
    word-break: break-word;
}

form > div > h4 {
    cursor: pointer;
}

#buttons {
    display: flex;
    width: 100%;
    right: -5px;
}

#buttons > button {
    flex: 1 0 auto;
}

#buttons > button + button {
    margin-left: 5px;
}

.btn-danger {
    margin-top: 40px;
}