<form (ngSubmit)="onLogin()">

    <h2 *ngIf="!logged" id="title">Login</h2>
    <h2 *ngIf="logged" id="title">Welcome {{loggedUser.firstName}} {{loggedUser.lastName}}!</h2>

    <div>
        <input
            *ngIf="!logged"
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            [(ngModel)]="username"
            required
        >
    </div>
    <div>
        <input
            *ngIf="!logged"
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            [(ngModel)]="password"
            required
        >
    </div>

    <div id="buttons">
        <button *ngIf="logged" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        <button *ngIf="!logged" type="submit" class="btn btn-primary">Login</button>
        <button *ngIf="!logged && isChild" type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>

</form>