<div id="experience-item">
    <div id="logo-div">
        <div><p>{{experience.logoUrl}}</p></div>
    </div>
    <div id="datos-div">
        <p><b>Empresa: </b>{{experience.enterprise}}</p>
        <p><b>Período: </b>{{experience.experienceTime}}</p>
        <p><b>Puesto: </b>{{experience.position}}</p>
        <p><b>Tareas: </b>{{experience.tasks}}</p>
    </div>
    <div id="edit-div">
        <div class="trash-div" (click)="openDelete()">
            <img class="trash" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-delete.png" alt="Edit-icon">
        </div>
        <app-delete-item
            *ngIf="deleteVisible"
            [section]="section"
            [item]="experience"
            (onDelete)="deleteItem(experience)"
            (onCancel)="closeDelete()"
        ></app-delete-item>
        <div class="pencil-div" (click)="openEdit()">
            <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
        </div>
        <app-edit-item
            *ngIf="editVisible"
            [title]="title"
            [item]="experience"
            (onClose)="closeEdit()"
        ></app-edit-item>
        <div class="arrows-div">
            <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Arrows-sort.png" alt="Edit-icon">
        </div>
    </div>
</div>
