<div id="title">
    <div></div>
    <h2>EXPERIENCIA</h2>
    <div class="add-div" (click)="openAddPopup()">
        <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-red-cross.png" alt="Add-icon">
    </div>
    <app-add-item
        *ngIf = "addVisible"
        [title] = "addTitle"
        [section] = "addSection"
        [list] = "experienceList"
        [portfolio]="portfolio"
        (onClose)="closeAddPopup()"
        (onAdd)="refresh($event)"
    ></app-add-item>
</div>
<div id="experience-div" cdkDropList (cdkDropListDropped)="drop($event)">
    <app-experience-item 
        *ngFor="let experience of experienceList"
        [experience]="experience"
        (onDelete)="removeItem($event)"
    ></app-experience-item>
</div>