<div id="portfolio">
    <app-header
        [portfolio]="portfolio"></app-header>
    <app-about
        [portfolio]="portfolio"></app-about>
    <app-experience
        [experienceList]="portfolio.experienceList"></app-experience>
    <app-education
        [educationList]="portfolio.educationList"></app-education>
    <app-skills
        [skillList]="portfolio.skillList"></app-skills>
    <app-projects
        [projectList]="portfolio.projectList"></app-projects>
    <app-contact
        [email]="portfolio.user.email"></app-contact>
</div>