<div id="portfolio">
    <app-header
        [portfolio]="portfolio"></app-header>
    <app-about
        [portfolio]="portfolio"></app-about>
    <app-experience
        [experienceList]="portfolio.experienceList"
        [portfolio]="portfolio"
    ></app-experience>
    <app-education
        [educationList]="portfolio.educationList"
        [portfolio]="portfolio"
    ></app-education>
    <app-skills
        [skillList]="portfolio.skillList"
        [portfolio]="portfolio"
    ></app-skills>
    <app-projects
        [projectList]="portfolio.projectList"
        [portfolio]="portfolio"
    ></app-projects>
    <app-contact
        [portfolio]="portfolio"></app-contact>
</div>