<div id="portfolio">
    <app-header
        [username]="portfolio.user.username"
        [visible]="portfolio.visible"
        [bannerUrl]="portfolio.bannerUrl"
        [socialList]="portfolio.socialList"
    ></app-header>
    <app-about
        [photoUrl]="portfolio.photoUrl"
        [jobTitle]="portfolio.jobTitle"
        [pstatement]="portfolio.pstatement"
        [firstName]="portfolio.user.firstName"
        [lastName]="portfolio.user.lastName"
    ></app-about>
    <app-experience
        [experienceList]="portfolio.experienceList"
    ></app-experience>
    <app-education></app-education>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-contact></app-contact>
</div>