<div class="container-fluid">
    <div id="about" class="row">
        <div class="column col-12 col-sm-6 col-md-5 col-lg-4">
            <div id="photo-div">
                <img id="photo-img" src="https://github.com/prulec/portfolio/raw/main/images/Archive/profle_image_dolltoon%201.png" alt="">
                <div class="pencil-div">
                    <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
                </div>
            </div>
            <div id="person-name-div">
                <h1>Nombre completo de la persona</h1>
                <div class="pencil-div">
                    <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
                </div>
            </div>
            <div id="job-title-div">
                <h2>Título profesional</h2>
                <div class="pencil-div">
                    <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
                </div>
            </div>
        </div>
        <div  id="personal-statement-div" class="column col-12 col-sm-6 col-md-7 col-lg-8">
            <div id="text-block">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores molestiae fuga provident sapiente quod
                    nobis reiciendis incidunt optio voluptatem iste temporibus porro officia cupiditate unde quibusdam quae
                    vero, qui atque!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus adipisci minima neque ex magnam cupiditate dolore vel! Praesentium facere, officiis distinctio similique obcaecati a impedit deserunt sit architecto totam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex repellat sunt autem, nostrum dolore, quaerat ea quae recusandae veniam distinctio incidunt? Alias, ipsum minus esse libero accusantium cumque perferendis?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, pariatur voluptatem? Sed neque vero delectus vel aperiam optio? Quidem optio magnam vitae veniam repellat voluptas veritatis, qui ab sed labore!
                </p>
            </div>
            <div class="pencil-div">
                <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
            </div>
        </div>
    </div>
</div>
