<div class="container-fluid">
    <div id="about" class="row">
        <div class="column col-12 col-sm-6 col-md-5 col-lg-4">
            <div id="photo-div">
                <img id="photo-img" [src]="portfolio.photoUrl" alt="">
                <div *ngIf="logged" class="pencil-div" (click)="openEditPopup(editPhotoUrlTitle)">
                    <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
                </div>
                <app-edit-item
                    *ngIf = "editPhotoUrlVisible"
                    [title] = "editPhotoUrlTitle"
                    [portfolio] = "portfolio"
                    (onClose)="closeEditPopup(editPhotoUrlTitle)"
                ></app-edit-item>
            </div>
            <div id="person-name-div">
                <h1>{{portfolio.user.firstName}} {{portfolio.user.lastName}}</h1>
                <div *ngIf="logged" class="pencil-div" (click)="openEditPopup(editFullnameTitle)">
                    <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
                </div>
                <app-edit-item
                    *ngIf = "editFullnameVisible"
                    [title] = "editFullnameTitle"
                    [portfolio] = "portfolio"
                    (onClose)="closeEditPopup(editFullnameTitle)"
                ></app-edit-item>
            </div>
            <div id="job-title-div">
                <h2>{{portfolio.jobTitle}}</h2>
                <div *ngIf="logged" class="pencil-div" (click)="openEditPopup(editJobTitleTitle)">
                    <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
                </div>
                <app-edit-item
                    *ngIf = "editJobTitleVisible"
                    [title] = "editJobTitleTitle"
                    [portfolio] = "portfolio"
                    (onClose)="closeEditPopup(editJobTitleTitle)"
                ></app-edit-item>
            </div>
        </div>
        <div  id="personal-statement-div" class="column col-12 col-sm-6 col-md-7 col-lg-8">
            <div id="text-block">
                <p>{{portfolio.pstatement}}</p>
            </div>
            <div *ngIf="logged" class="pencil-div" (click)="openEditPopup(editPStatementTitle)">
                <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
            </div>
            <app-edit-item
                *ngIf = "editPStatementVisible"
                [title] = "editPStatementTitle"
                [portfolio] = "portfolio"
                (onClose)="closeEditPopup(editPStatementTitle)"
            ></app-edit-item>
        </div>
    </div>
</div>
