<div id="title">
    <div></div>
    <h2>PROYECTOS</h2>
    <div class="add-div">
        <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Base-red-cross.png" alt="Add-icon">
    </div>
</div>
<div id="projects-div">
    <app-projects-item></app-projects-item>
    <app-projects-item></app-projects-item>
    <app-projects-item></app-projects-item>
    <app-projects-item></app-projects-item>
    <app-projects-item></app-projects-item>
    <app-projects-item></app-projects-item>
</div>