<div class="skill-container" cdkDrag>
    <div class="drop-placeholder" *cdkDragPlaceholder></div>
    <div 
        class="skills-item" 
        [style]="{'--level': skill.skillLevel}"
    >
        <div class="progress-div">
            <div class="left-div">
                <div class="full-div"></div>
                <div class="empty-div"></div>
            </div>        
            <div class="right-div">
                <div class="empty-div"></div>
                <div class="full-div"></div>
            </div>        
            <div class="level-text-div"><p>{{skill.skillLevel}}</p></div>
        </div>
        <div class="data-div">
            <div>
                <h3>{{skill.name}}</h3>
                <p>{{skill.levelTag}}</p>
            </div>
        </div>
    </div>
    <div class="edit-div">
        <div class="trash-div" (click)="openDelete()">
            <img class="trash" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-delete.png" alt="Edit-icon">
        </div>
        <app-delete-item
            *ngIf="deleteVisible"
            [section]="section"
            [item]="skill"
            (onDelete)="deleteItem(skill)"
            (onCancel)="closeDelete()"
        ></app-delete-item>
        <div class="pencil-div" (click)="openEdit()">
            <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
        </div>
        <app-edit-item
            *ngIf="editVisible"
            [title]="title"
            [item]="skill"
            (onClose)="closeEdit()"
        ></app-edit-item>
        <div 
            class="arrows-div"
            (click)="sendClick()"
            cdkDragHandle
        >
            <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Arrows-sort.png" alt="Edit-icon">
        </div>
    </div>
</div>
