<div id="skills-item" 
    style="--level:105;
        --border-width-ring:10px;">
    <div id="progress-div">
        <div id="left-div">
            <div class="semi-full-ring">
                <div class="full-ring"></div>
            </div>
            <div class="semi-empty-ring">
                <div class="empty-ring"></div>
            </div>
        </div>        
        <div id="right-div">
            <div class="semi-full-ring">
                <div class="full-ring"></div>
            </div>
            <div class="semi-empty-ring">
                <div class="empty-ring"></div>
            </div>
        </div>        
        <div id="level-text-div"><p>Nivel</p></div>
    </div>
    <div id="data-div">
        <div>
            <h3>Habilidad</h3>
            <p>Etiqueta</p>
        </div>
    </div>
</div>
