

#skills-item {
    display: flex;
    flex-direction: row;
    border: #BFBFBF solid 2px;
    border-radius: 10px;
    background-color: var(--back-color);
    justify-content: center;

    --level: 0;
    --level-until-50: calc(var(--level) * 180deg / 50);
    --level-above-50: calc((100 + var(--level)) * 180deg / 50);
    --ring-width: 5%;
    --back-color: #F3F3F3;
    --progress-color: green;
}


/* ANILLO DE PROGRESO */

#progress-div {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 5px;
    border: #a3a3a3 solid 2px;
    border-radius: 50%;
    overflow: hidden;
}


/* Parte Izquierda */

#left-div {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: var(--back-color);
}

#left-div > .full-div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(var(--level-above-50));
    transform-origin: 100% 50%;
    background-color: var(--progress-color);
}

#left-div > .empty-div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(calc(180deg + var(--level-above-50) / 2));
    transform-origin: 100% 50%;
    background-color: var(--back-color);
}


/* Parte Derecha */

#right-div {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: var(--progress-color);
}

#right-div > .empty-div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(var(--level-until-50));
    transform-origin: 0% 50%;
    background-color: var(--back-color);
}

#right-div > .full-div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(calc(180deg + var(--level-until-50) / 2));
    transform-origin: 0% 50%;
    background-color: var(--progress-color);
}


/* TEXTO DEL ANILLO */

#level-text-div {
    display: flex;
    position: absolute;
    margin: var(--ring-width);
    width: calc(100% - 2 * var(--ring-width));
    height: calc(100% - 2 * var(--ring-width));
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--back-color);
}

#level-text-div > p {
    margin: 10px;
    line-height: 20px;
    padding-bottom: 2px;
}


/* TEXTO FUERA DEL ANILLO */

#data-div {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

#data-div > div {
    align-self: center;
}

#data-div > div > p {
    margin: 0px;
}


/* MEDIA QUERY */

@media (max-width: 768px) {
    #progress-div {
        width: 100px;
        height: 100px;
    }
}