<div id="skill-container">
    <div id="skills-item" 
    [style]="{'--level': skill.skillLevel}">
        <div id="progress-div">
            <div id="left-div">                
                <div class="full-div"></div>
                <div class="empty-div"></div>
            </div>        
            <div id="right-div">
                <div class="empty-div"></div>
                <div class="full-div"></div>
            </div>        
            <div id="level-text-div"><p>{{skill.skillLevel}}</p></div>
        </div>
        <div id="data-div">
            <div>
                <h3>{{skill.name}}</h3>
                <p>{{skill.levelTag}}</p>
            </div>
        </div>
    </div>
    <div id="edit-div">
        <div class="trash-div">
            <img class="trash" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-delete.png" alt="Edit-icon">
        </div>
        <div class="pencil-div">
            <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
        </div>
        <div class="arrows-div">
            <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Arrows-sort.png" alt="Edit-icon">
        </div>
    </div>
</div>
