<div id="social-window" *ngIf="socialWindowVisible">
    <div>
        <div id="close-div" (click)="closeWindow()">
            <img src="https://github.com/prulec/portfolio/raw/main/images/Assets/Operate-handle-x.png" alt="Close btn">
        </div>
        <div>
            <h2>Redes sociales</h2>
            <div id="add-div" (click)="openAddForm()">
                <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-red-cross.png" alt="Add-icon">
            </div>
        </div>
        <form 
            *ngIf="addVisible" 
            id="add-form" 
            (ngSubmit)="onSubmit()"
        >
            <div class="form-group row">
                <label 
                    for="socialTypes"
                    class="col-form-label col-1"
                >Red: </label>
                <div class="col-11">
                    <select 
                        name="socialTypeName"
                        id="socialTypes"
                        class="form-select"
                        [(ngModel)]="data.socialTypeName"
                    >
                        <option 
                            *ngFor="let socialType of socialTypes"
                            [value]="socialType.name"
                        >{{socialType.name}}</option>
                    </select>
                </div>
                
            </div>
            <div class="form-group row">
                <label 
                    for="socialTypes"
                    class="col-form-label col-1"
                >Url: </label>
                <div class="col-11">
                    <input 
                        type="url" 
                        class="form-control" 
                        id="socialUrl"
                        name="socialUrl"
                        [(ngModel)]="data.url"
                    >
                </div>
                
            </div>
            <div id="buttons">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" (click)="onDiscard()">Discard</button>
            </div>
        </form>
        <div id="social-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <app-social-item 
                *ngFor="let social of socialList"
                [social]="social"
                [portfolio]="portfolio"
                (onUpdate)="updateItem($event)"
                (onDelete)="deleteItem($event)"
            ></app-social-item>
        </div>
        
    </div>
</div>

<div class="social-icon" *ngFor="let social of socialList.slice(0,3)" (click)="goTo(social.url)">
    <img 
        class="social-img" 
        [src]="social.socialTypeData.iconUrl"
    >
</div>
<div id="openwindowbutton-div" (click)="openWindow()">
    <div>
        <img 
            class="pencil" 
            src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" 
            alt="Edit-icon"
        >
    </div>
</div>