<div id="social-window" *ngIf="socialWindowVisible">
    <div>
        <div id="image-div">
            <h2>Redes sociales</h2>
            <div id="add-div">
                <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-red-cross.png" alt="Add-icon">
            </div>
        </div>
        <div id="close-div" (click)="closeWindow()">
            <img src="https://github.com/prulec/portfolio/raw/main/images/Assets/Operate-handle-x.png" alt="Close btn">
        </div>
        <app-social-item 
            *ngFor="let social of socialList"
            [social]="social"
            (onUpdate)="refresh($event)"
        ></app-social-item>
    </div>
</div>

<div class="social-icon" *ngFor="let social of socialList.slice(0,3)">
    <img 
        class="social-img" 
        [src]="social.socialTypeData.iconUrl"
        (click)="openWindow()"
    >
</div>
<div id="openwindowbutton-div" (click)="openWindow()">
    <div>
        <img 
            class="pencil" 
            src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" 
            alt="Edit-icon"
        >
    </div>
</div>