/* Edit SOCIAL Popup */

#social-window {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

#social-window > div {
    position: relative;
    top:30px;
    margin: auto;
    max-width: 600px;
    background-color: #E8E8E8;
    padding: 30px;
    border-radius: 10px;
}

#close-div {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 38px;
    width: 38px;
    border-radius: 10px;
    background-color: white;
    opacity: 50%;
    box-shadow: 0px 0px 4px black;
}
#close-div:hover {opacity: 80%;}

#close-div > img {
    height: 100%;
}

#add-div {
    position: absolute;
    right: 65px;
    top: 15px;
    width: 38px;
    height: 38px;
    border-radius: 18px;
    background-color: white;
    opacity: 50%;
    box-shadow: 0px 0px 4px black;
}
#add-div:hover {opacity: 80%;}

.add-img {
    max-width: 100%;
}


/* EDIT FORM */

#add-form {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

#add-form > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    width: 100%;
    right: -5px;
}

#buttons > button {
    flex: 1 0 auto;
}

#buttons > button + button {
    margin-left: 5px;
}


/* ÍCONOS EN HEADER */

#openwindowbutton-div {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    margin-left: 15px;
    background-color: white;
    opacity: 50%;
    box-shadow: 0px 0px 4px black;
}
#openwindowbutton-div:hover {opacity: 80%;}

.pencil {
    display: block;
    margin: 15% auto;
    max-width: 70%;
    max-height: 70%;
}

.social-icon {
    display: inline-flex;
    width: 38px;
    height: 38px;
    margin-left: 15px;
}
.social-icon:hover {opacity: 80%;}

.social-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}