#gallery {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    opacity: 100%;
    width: 96vw;
    height: 90vh;
    margin: 2%;
    border-radius: 10px;
}

#preview-div {
    flex: 1 1 auto;
}

#image-div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#image-div > img {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
}

#close-div {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 38px;
    width: 38px;
    border-radius: 10px;
    background-color: white;
    opacity: 50%;
    box-shadow: 0px 0px 4px black;
}
#close-div:hover {opacity: 80%;}

#close-div > img {
    height: 100%;
}

#add-div {
    position: absolute;
    right: 10px;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: white;
    opacity: 50%;
    box-shadow: 0px 0px 4px black;
}
#add-div:hover {opacity: 80%;}

.add-img {
    max-width: 100%;
}

/* ADD Popup */
app-add-item {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}


/* EDIT ICONS */

.edit-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
    left: calc(50% - 75px + 70px);
    top: 5px;
}

.edit-div > .pencil-div {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: 0px 0px 4px black;
    background-color: white;
    opacity: 70%;
}
.edit-div > .pencil-div:hover {opacity: 90%;}

.pencil {
    max-width: 70%;
    margin: 15%;
}

app-edit-item {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

.edit-div > .arrows-div {
    right: 3px;
    bottom: 3px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: 0px 0px 4px black;
    background-color: white;
    opacity: 70%;
}
.edit-div > .arrows-div:hover {opacity: 90%;}

.arrows {
    max-width: 70%;
    margin: 15%;
}

.edit-div > .changeOrderActivated {
    background-color: rgb(52, 225, 33);
}

.edit-div > .trash-div {
    left: 3px;
    bottom: 3px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: 0px 0px 4px black;
    background-color: rgb(249, 65, 65);
    opacity: 70%;
}
.edit-div > .trash-div:hover {opacity: 90%;}

.trash {
    max-width: 70%;
    margin: 15%;
}

app-delete-item {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

/* THUMBNAILS */

.thumbnails-list {
    flex: 0 0 140px;
    display:flex;
    flex-direction: column;
    justify-content:baseline;
    margin: 0px;
    padding: 2px 2px 0px 0px;
    overflow-y: auto;
}

.thumbnails-list > .thumb-item {
    justify-content: space-evenly;
    height: 100px;
    margin-bottom: 2px;
    overflow: hidden;
}

.thumbnails-list > .thumb-item > img {
    min-width: 100%;
    height: 100%;
    object-fit:contain;
    margin-left: 50%;
    transform: translateX(-50%);
}

/*
.thumbnails-list > .thumb-item > p {
    margin: 0;
    height: 100%;
    white-space: pre-wrap;
    word-break: break-word;
}
*/

.thumbnails-list > .thumb-item > div {
    position: relative;
}

.thumbnails-list > .thumb-item > div > .arrows-div {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px black;
    background-color: white;
    opacity: 70%;
    cursor: move;
}
.thumbnails-list > .thumb-item > div > .arrows-div:hover {opacity: 90%;}

.thumbnails-list > .thumb-item > div > .arrows-div > .arrows {
    max-width: 70%;
    margin: 15%;
}

.thumbnails-list > .selected {
    border-right: 5px solid yellowgreen;
}


/* DRAG DROP */

.cdk-drag-preview > img {
    max-height: 100%;
    object-fit:contain;
}

.cdk-drag-preview .arrows-div {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px black;
    background-color: white;
    opacity: 70%;
}

.cdk-drag-preview > .arrows {
    max-width: 70%;
    margin: 15%;
}

.drop-placeholder {
    min-height: 104px;
    background-color: #bfbfbf33;
}



/* MEDIA QUERY */

@media (max-width: 740px) {

    #gallery {
        flex-direction: column;
    }

    #preview-div {
        max-height: 90%;
    }

    .thumbnails-list {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        flex: 0 0 100px;
    }

    .thumbnails-list > .thumb-item {
        justify-content: space-evenly;
        min-width: 140px;
        margin-bottom: 0px;
        margin-right: 2px;
    }
    
    .thumbnails-list > .selected {
        border-top: 5px solid yellowgreen;
        border-right: 0px;
    }

    .edit-div {
        left: calc(50% - 75px);
    }

    .drop-placeholder {
        height: 100px;
        min-width: 144px;
    }

}