<div id="gallery">
    <div id="preview-div">
        <div id="image-div">
            <h2>{{selectedImage.title}}</h2>
        </div>
        <div id="close-div" (click)="onClose()">
            <img src="https://github.com/prulec/portfolio/raw/main/images/Assets/Operate-handle-x.png" alt="Close btn">
        </div>
        <div id="add-div" (click)="openAddPopup()">
            <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-red-cross.png" alt="Add-icon">
        </div>
        <app-add-item
            *ngIf = "addVisible"
            [title] = "addTitle"
            [section] = "addSection"
            [list] = "project.projectImageList"
            [project] = "project"
            (onClose)="closeAddPopup()"
            (onAdd)="refresh($event)"
        ></app-add-item>
        <div class="edit-div">
            <div class="trash-div" (click)="openDelete()">
                <img class="trash" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-delete.png" alt="Edit-icon">
            </div>
            <app-delete-item
                *ngIf="deleteVisible"
                [portfolio]="portfolio"
                [section]="section"
                [item]="selectedImage"
                (onDelete)="deleteItem(selectedImage)"
                (onCancel)="closeDelete()"
            ></app-delete-item>
            <div class="pencil-div" (click)="openEdit()">
                <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
            </div>
            <app-edit-item
                *ngIf="editVisible"
                [portfolio]="portfolio"
                [project]="project"
                [title]="title"
                [item]="selectedImage"
                (onClose)="closeEdit()"
            ></app-edit-item>
            <div 
                class="arrows-div" 
                (click)="toggleChangeOrder()"
                [ngClass]="{ 'changeOrderActivated' : changeOrderActivated }"
            >
                <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Arrows-sort.png" alt="Edit-icon">
            </div>
        </div>
    </div>
    <div
        class="thumbnails-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
    >
        <div 
            *ngFor="let image of project.projectImageList"
            (click)="onSelect(image)"
            (onDelete)="removeItem($event)"
            class="thumb-item"
            [ngClass]="{'selected': selectedImage===image}"
            cdkDrag
        >
            <div class="drop-placeholder" *cdkDragPlaceholder></div>
            <p>{{image.imageUrl}}</p>
            <div class="handle-div" cdkDragHandle>
                <div
                    *ngIf="selectedImage===image && changeOrderActivated"
                    class="arrows-div"
                >
                    <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Arrows-sort.png" alt="Edit-icon">
                </div>
            </div>
        </div>
    </div>
</div>