<div id="gallery">
    <div id="preview-div">
        <div id="image-div">
            <h2>Imagen de proyecto</h2>
        </div>
        <div id="close-div" (click)="onClose()">
            <img src="https://github.com/prulec/portfolio/raw/main/images/Assets/Operate-handle-x.png" alt="Close btn">
        </div>
    </div>
    <ul id="thumbnails-list">
        <li><p>Thumbnail1<br><br><br><br></p></li>
        <li><p>Thumbnail2<br><br><br><br></p></li>
        <li><p>Thumbnail3<br><br><br><br></p></li>
        <li><p>Thumbnail1<br><br><br><br></p></li>
        <li><p>Thumbnail2<br><br><br><br></p></li>
        <li><p>Thumbnail3<br><br><br><br></p></li>
        <li><p>Thumbnail1<br><br><br><br></p></li>
        <li><p>Thumbnail2<br><br><br><br></p></li>
        <li><p>Thumbnail3<br><br><br><br></p></li>
    </ul>
</div>