<div id="title">
    <div></div>
    <h2>EDUCACIÓN</h2>
    <div *ngIf="logged" class="add-div" (click)="openAddPopup()">
        <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-red-cross.png" alt="Add-icon">
    </div>
    <app-add-item
        *ngIf = "addVisible"
        [title] = "addTitle"
        [section] = "addSection"
        [list] = "educationList"
        [portfolio]="portfolio"
        (onClose)="closeAddPopup()"
        (onAdd)="refresh($event)"
    ></app-add-item>
</div>
<div id="education-div" cdkDropList (cdkDropListDropped)="drop($event)">
    <app-education-item
        *ngFor="let education of educationList"
        [logged]="logged"
        [portfolio]="portfolio"
        [education]="education"
        (onDelete)="removeItem($event)"
    ></app-education-item>
</div>