<div id="contact">
    <h5>
        <div (click)="openForm()">
            Contactame!
            <img 
                src="https://github.com/prulec/portfolio/raw/main/images/Assets/Communicate-message-emoji.png" 
                alt="Message-icon"
            >
        </div>
        <div id="openwindowbutton-div" (click)="openEditPopup()">
            <div>
                <img 
                    class="pencil" 
                    src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" 
                    alt="Edit-icon"
                >
            </div>
        </div>
    </h5>
    <app-contact-form 
        *ngIf="contactFormVisible"
        [destination]="portfolio.user.email"
        (onClose)="closeForm()"
    ></app-contact-form>
    <app-edit-item 
        *ngIf="editVisible"
        [portfolio]="portfolio"
        [title]="editTitle"
        (onClose)="closeEditPopup()"
    ></app-edit-item>
</div>