
#contact {
    margin: 0px;
    padding-top: 20px;
    min-height: 150px;
    background-color: #2B2B2B;
    text-align: center;
}

#contact > h5 {
    margin-bottom: 0px;
    color: #FFFFFF;
}

#contact > h5 > div {
    display: inline-block;
    cursor: pointer;
}

#contact > h5 > div > img {
    position: relative;
    top: -5px;
    object-fit: scale-down;
    height: 25px;
}

#openwindowbutton-div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-left: 10px;
    background-color: white;
    opacity: 50%;
    box-shadow: 0px 0px 4px black;
}
#openwindowbutton-div:hover {opacity: 80%;}

.pencil {
    display: block;
    margin: 15% auto;
    max-width: 70%;
    max-height: 70%;
}

/* Edit & Form Popup */
app-edit-item, app-contact-form {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}