<div id="project-container">
    <app-project-gallery
        *ngIf="projectGalleryVisible"
        [project]="project"
        (onCloseImagesWindow)="closeGallery()"
        (document.click)="closeGallery()"
    >
    </app-project-gallery>
    <div id="projects-item">
        <div id="thumbnail-div" (click)="openGallery()">
            <div><p>{{project.projectImageList[0]}}</p></div>
        </div>
        <div id="datos-div">
            <p><b>Nombre: </b>{{project.name}}</p>
            <p><b>Fecha: </b>{{project.projectTime}}</p>
            <p><b>Link: </b>{{project.link}}</p>
            <p><b>Descripción: </b>{{project.description}}</p>
        </div>
    </div>
    <div id="edit-div">
        <div class="trash-div">
            <img class="trash" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-delete.png" alt="Edit-icon">
        </div>
        <div class="pencil-div">
            <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Edit-write.png" alt="Edit-icon">
        </div>
        <div class="arrows-div">
            <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Arrows-sort.png" alt="Edit-icon">
        </div>
    </div>
</div>
