<div id="project-container">
    <div id="projects-item">
        <div id="logo-div">
            <div><p>Thumbnail</p></div>
        </div>
        <div id="datos-div">
            <p><b>Nombre: </b>Lorem ipsum, dolor sit amet</p>
            <p><b>Fecha: </b>Lorem ipsum, dolor sit amet</p>
            <p><b>Link: </b>Lorem ipsum, dolor sit amet</p>
            <p><b>Descripción: </b>Lorem ipsum, dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div id="edit-div">
        <div class="trash-div">
            <img class="trash" src="https://github.com/prulec/portfolio/raw/main/images/Base-delete.png" alt="Edit-icon">
        </div>
        <div class="pencil-div">
            <img class="pencil" src="https://github.com/prulec/portfolio/raw/main/images/Edit-write.png" alt="Edit-icon">
        </div>
        <div class="arrows-div">
            <img class="arrows" src="https://github.com/prulec/portfolio/raw/main/images/Arrows-sort.png" alt="Edit-icon">
        </div>
    </div>
</div>
