form {
    position: relative;
    top:30px;
    margin: auto;
    max-width: 600px;
    background-color: #E8E8E8;
    padding: 30px;
    padding-top: 40px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    width: 100%;
    right: -5px;
}

.buttons > button {
    flex: 1 0 auto;
}

.buttons > button + button {
    margin-left: 5px;
}

#delete-form > h3 {
    text-align: center;
    margin: 20px;
}

#delete-form > .buttons {
    padding: 20px 50px;
}