<div id="title">
    <div></div>
    <h2>HABILIDADES</h2>
    <div *ngIf="logged" class="add-div" (click)="openAddPopup()">
        <img class="add-img" src="https://github.com/prulec/portfolio/raw/main/images/Assets/Base-red-cross.png" alt="Add-icon">
    </div>
    <app-add-item
        *ngIf = "addVisible"
        [title] = "addTitle"
        [section] = "addSection"
        [list] = "skillList"
        [portfolio]="portfolio"
        (onClose)="closeAddPopup()"
        (onAdd)="refresh($event)"
    ></app-add-item>
</div>
<div 
    id="skills-div"
    class="container-fluid"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
>
    <div class="row g-1">
        <app-skills-item
            *ngFor="let skill of skillList"
            [ngClass]="{'col-sm-6 col-lg-4' : !oneColumn}"
            [logged]="logged"
            [skill]="skill"
            [portfolio]="portfolio"
            (onDelete)="removeItem($event)"
            (onClick)="toggleOneColumn()"
        ></app-skills-item>
    </div>
</div>