#title {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

#title > div {
    position: absolute;
    top: 43%;
    width: 100%;
    background-color: #AAD674;
    height: 5px;
}

#title > h2 {
    display: inline;
    position: relative;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #AAD674;
}

.one-column {
    background-color: rgb(52, 225, 33) !important;
}

#title > .arrows-div {
    position: absolute;
    right: 85px;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: white;
    opacity: 70%;
    box-shadow: 0px 0px 4px black;
}
#title > .arrows-div:hover {opacity: 90%;}

.arrows {
    max-width: 70%;
    margin: 15%;
}

#title > .add-div {
    position: absolute;
    right: 35px;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: white;
    opacity: 70%;
    box-shadow: 0px 0px 4px black;
}
#title > .add-div:hover {opacity: 90%;}

.add-img {
    max-width: 100%;
}

/* ADD Popup */
app-add-item {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

#skills-div {
    margin-bottom: 25px;
    padding: 0px 5px;
}
