<form (ngSubmit)="onSubmit()">
    <h2 id="title">Contact</h2>
    <div>
        <input 
            type="email"
            class="form-control"
            id="replyTo"
            name="replyTo"
            placeholder="Email"
            [(ngModel)]="data.replyTo"
        >
    </div>
    <div>
        <input 
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Subject"
            [(ngModel)]="data.subject"
        >
    </div>
    <div>
        <textarea 
            class="form-control"
            id="body"
            name="body"
            rows="5"
            placeholder="Body"
            [(ngModel)]="data.body"
        ></textarea>
    </div>
    <div id="buttons">
        <button 
            type="submit"
            class="btn btn-primary"
        >Send</button>
        <button
            type="button"
            class="btn btn-secondary"
            (click)="onDiscard()"
        >Discard</button>
    </div>
</form>