<form (ngSubmit)="onSubmit(section)">
    <h2 id="title">{{title}}</h2>
    
    <div *ngIf="title==='Experience'">
        <div>
            <input 
                type="url"
                class="form-control" 
                name="logoUrl"
                placeholder="Logo url"
                [(ngModel)]="experienceData.logoUrl"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="enterprise"
                placeholder="Enterprise"
                [(ngModel)]="experienceData.enterprise"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="experienceTime"
                placeholder="Time"
                [(ngModel)]="experienceData.experienceTime"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="position"
                placeholder="Position"
                [(ngModel)]="experienceData.position"
            >
        </div>
        <div>
            <textarea
                class="form-control"
                name="pstatement"
                rows="3"
                placeholder="Tasks"
                [(ngModel)]="experienceData.tasks"
            ></textarea>
        </div>        
    </div>

    <div *ngIf="title==='Education'">
        <div>
            <input 
                type="url"
                class="form-control" 
                name="logoUrl"
                placeholder="Logo url"
                [(ngModel)]="educationData.logoUrl"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="institution"
                placeholder="Institution"
                [(ngModel)]="educationData.institution"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="educationTime"
                placeholder="Time"
                [(ngModel)]="educationData.educationTime"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="title"
                placeholder="Title"
                [(ngModel)]="educationData.title"
            >
        </div>
    </div>

    <div *ngIf="title==='Skill'">
        <div>
            <input            
                type="text"
                class="form-control"
                name="name"
                placeholder="Name of skill"
                [(ngModel)]="skillData.name"
            >
        </div>
        <div>
            <input            
                type="number"
                class="form-control"
                name="skillLevel"
                placeholder="Skill level [0-100]"
                [(ngModel)]="skillData.skillLevel"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="levelTag"
                placeholder="Level tag"
                [(ngModel)]="skillData.levelTag"
            >
        </div>
    </div>

    <div *ngIf="title==='Project'">
        <div>
            <input            
                type="text"
                class="form-control"
                name="name"
                placeholder="Name of project"
                [(ngModel)]="projectData.name"
            >
        </div>
        <div>
            <input            
                type="text"
                class="form-control"
                name="projectTime"
                placeholder="Time"
                [(ngModel)]="projectData.projectTime"
            >
        </div>
        <div>
            <input 
                type="url"
                class="form-control" 
                name="link"
                placeholder="Link to project"
                [(ngModel)]="projectData.link"
            >
        </div>
        <div>
            <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Description"
                [(ngModel)]="projectData.description"
            ></textarea>
        </div>
    </div>
    
    <div id="buttons">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="onDiscard()">Discard</button>
    </div>
</form>